// ---------------------------------- //
//      Layout
// ---------------------------------- //

.l-header {
    @include rhythm-padding(9);
    text-align: center;
    background: url(/img/bg.jpg) 50% 50% no-repeat;
    background-size: cover;

    @media screen and (max-width: 64rem) {
        @include rhythm-padding(6);
    }

    @media screen and (max-width: 48rem) {
        @include rhythm-padding(4);
    }
}

.l-main {
    display: block;
    width: 85%;
    max-width: $container;
    margin-top: $layout-border-width * -1;
    margin-left: auto;
    margin-right: auto;
}

.l-footer {
    @include rhythm-margins(3, 0);
    @include rhythm-padding(3, 3);
    border-top: $layout-border-width solid $layout-border-color;
    background-color: lighten(#000, 98%);
    text-align: center;
    color: $gray-light;
}
