// ---------------------------------- //
//      Module
// ---------------------------------- //

.btn {
    display: inline-block;
    padding: 8px 18px;
    border: 1px solid transparent;
    @include adjust-font-size-to(13px, 1);
    font-weight: 700;
    font-family: $font-family-sans-serif;
    text-align: center;
    letter-spacing: 1px;

    &--outline {
        color: $color-primary;
        border-color: $color-primary;
        text-transform: uppercase;

        &:hover {
            border-color: $color-primary;
            background-color: $color-primary;
            color: #fff;
        }

        &:active {
            -webkit-transform: scale(0.95);
            transform: scale(0.95);
        }
    }
}

.logo {
    border-bottom: none;
    @include adjust-font-size-to(32px, 2);
    padding: 1rem 2rem;
    border: 2px solid #fff;
    font-weight: bold;
    color: #fff;

    @media screen and (max-width: 48rem) {
        padding: 0;
        border: none;
    }

    &:hover {
        border-color: #fff;
        background-color: rgba(#fff,.2);
        color: #fff;
    }
}

.post {
    @include rhythm-margins(3, 2);

    @at-root {
        #{&}__title {
            margin: 0;
            border-bottom: 1px solid transparent;
            @include adjust-font-size-to(32px, 2);
            font-weight: bold;
        }

        article #{&}__title {
            border-bottom: none;
        }

        #{&}__meta {
            color: $gray-light;
            @include rhythm-margins(0, 2);
            @include adjust-font-size-to(16px, 1);

            > a {
                color: $gray-light;
                border-color: $gray-lighter;

                &:hover {
                    color: $gray;
                    border-color: $gray;
                }
            }
        }

        #{&}__body {
            pre {
                overflow: auto;
                line-height: 1.4;
                padding: $font-size-base;
                border-radius: 3px;
                background-color: #f7f7f7;
                word-wrap: break-word;
            }

            code {
                font-size: 13px;
                font-family: $font-family-monospace;
            }

            ul {
                padding-left: 40px;
                list-style-type: circle;

                ul {
                    margin-bottom: 1rem;
                }
            }

            p, li {
                > code {
                    margin: 0 4px;
                    padding: 2px 5px;
                    background-color: #f7f7f7;
                    border-radius: 3px;
                }
            }

            blockquote {
                margin: 0;
                padding: 0 15px;
                color: #777;
                border-left: 4px solid #ddd;
            }
        }
    }
}

.pager {
    overflow: hidden;

    > a {
        display: inline-block;
        padding: 5px 15px;
        border: 1px solid $gray-lighter;
        border-radius: 4px;
        color: $gray-light;

        &:hover {
            border-color: $gray-light;
            color: $gray;
        }
    }

    @at-root {
        #{&}__newer {
            float: left;
        }

        #{&}__older {
            float: right;
        }
    }
}

.share {
    ul {
        height: $line-height-base;
        padding: 0;
    }

    li {
        display: inline-block;
        margin-right: 1rem;
    }
}

.fb_iframe_widget {
    > span {
        vertical-align: baseline !important;
    }
}

.copyright {
    display: block;
    line-height: $line-height-base;
    margin-top: $layout-border-width * -1;
}
