// ---------------------------------- //
//      Variables
// ---------------------------------- //

//= Typography

$gray:                     lighten(#000, 60%) !default; // #999
$gray-light:               lighten(#000, 70%) !default; // #b3b3b3
$gray-lighter:             lighten(#000, 85%) !default; // #d9d9d9

$text-color:               #3a4145 !default;

$link-color:               #4181c2 !default;
$link-hover-color:         darken($link-color, 10%) !default; // #33689d
$link-hover-decoration:    none !default;
$link-border-color:        rgba($link-color, .4) !default;
$link-border-hover-color:  rgba($link-hover-color, .6) !default;

$font-family-sans-serif:   'Open Sans', sans-serif !default;
$font-family-base:         'Noto Sans Japanese', Meiryo, sans-serif !default;
$font-family-monospace:    Menlo, Monaco, Consolas, 'Courier New', monospace !default;

$font-size-base:           16px !default;
$line-height-base:         24px !default;

//= Layout

$container:                710px !default;

$line-color:               #e0e0e0 !default;
$line-width:               1px !default;
