<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>{{ if .IsPage }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{ with .Description }}<meta name="description" content="{{ . }}">{{ end }}
	<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
	<meta property="og:site_name" content="{{ .Site.Title }}">
	<meta property="og:image" content="{{ .Site.BaseUrl }}img/{{ if isset .Params "ogimage" }}{{ .Params.ogimage }}{{ else }}ogp.png{{ end }}">
	<meta property="fb:app_id" content="231858050163702">
	<link rel="stylesheet" href="/css/style.min.css">
	<link rel="alternate" type="application/rss+xml" href="/index.xml" title="{{ .Site.Title }}">
</head>
<body>
<header class="l-header" role="banner">
	<a href="/" class="logo">{{ .Site.Title }}</a>
</header>
<main class="l-main" role="main">